.header {
  position: relative;
  z-index: 200;
  &_close{

    &--open{
      width: 100%;
      height: 100vh;
      position: fixed;
    }
  }
  &_hamIco {
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 4rem;
    left: 4.5rem;
    transition: $mediumMotion;
    cursor: pointer;
    border-radius: 50%;
    @include xxlScreen() {
      left: calc(((100% - 1440px) / 2) + 5rem);
    }
    @include lScreen() {
      top: unset;
      bottom: 4rem;
      background-color: $mainColor;
      border-radius: 50%;
    }
    @include mScreen() {
      bottom: 3rem;
      left: 3rem;
    }
  }
  
  &_hamIco:hover {
    //background-color: darken($mainColor , 10%);
  }
  &_hamIco--open {
    &::after {
      content: "";
      width: 7rem;
      height: 7rem;
      transition: $fastMotion;
    }
  }
  &_line {
    width: 4rem;
    height: 0.25rem;
    background-color: black;
    top: 5.5rem;
    left: 3.5rem;
    position: absolute;
    transform: translate(-2rem, -2rem);
    z-index: 2;
    &::before {
      content: "";
      width: 4rem;
      height: 0.25rem;
      background-color: black;
      position: absolute;
      top: -1.25rem;
      transition: $mediumMotion;
    }
    &::after {
      content: "";
      width: 4rem;
      height: 0.25rem;
      background-color: black;
      position: absolute;
      top: 1.25rem;
      transition: $mediumMotion;
    }
  }
  &_line--open {
    &::before {
      top: 0rem;
      transition: $mediumMotion;
    }
    &::after {
      top: 0rem;
      transition: $mediumMotion;
    }
  }
  &_copyRight {
    position: absolute;
    width: 100%;
    text-align: left;
    bottom: 6rem;
    padding-left: 4rem;
    transition: $fastMotion;
    & a {
      color: black;
      text-decoration: none;
    }
    @include lScreen() {
      bottom: 3.5rem;
      text-align: right;
      padding-left: unset;
      padding-right: 4rem;
    }
    @include mScreen() {
      bottom: 4.5rem;
    }
  }
  &_accordion {
    width: 100%;
  }
  &_popup {
    width: 60rem;
    height: calc(100vh - 6rem);
    background-color: white;
    position: fixed;
    top: 3rem;
    left: 3rem;
    opacity: 0;
    visibility: hidden;
    transform-origin: bottom center;
    transition: $mediumMotion;
    overflow: hidden;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    @include xxlScreen() {
      left: calc(((100% - 1440px) / 2) + 3rem);
    }
    @include lScreen() {
      height: 100vh;
      bottom: 0rem;
      left: 0rem;
      top: 0;
    }
    @include mScreen() {
      width: 100%;
      height: 100vh;
      bottom: 0rem;
      left: 0rem;
      top: 0;
    }
  }
  &_popup--open {
    opacity: 1;
    visibility: visible;
    transition: $mediumMotion;
    
  }
  &_menu {
    padding: 0rem 3rem 0 3rem;
    position: fixed;
    top: 10rem;
    width: 60rem;
    @include lScreen() {
      top: 3rem;
    }
    @include mScreen() {
      width: 100%;
    }
  }
  &_accordion {
    & h6 {
      font-weight: 300;
    }
  }
  &_item {
    list-style: none;
  }
  &_item {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    & a {
      font-size: 2rem;
      font-weight: 300;
      text-transform: capitalize;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      transition: $fastMotion;
      &:hover {
        color: black;
        transition: $fastMotion;
      }
    }
  }
}
