main {
  width: 100%;
}
article {
  width: 100%;
  padding-top: 15.5rem;
}
.sSpace {
  margin-bottom: 1rem !important;
}
.mSpace {
  margin-bottom: 3rem !important;
}
.lSpace {
  margin-bottom: 8rem !important;
}
.xlSpace {
  margin-bottom: 20rem !important;
}
.boxed {
  max-width: 1440px;
  padding: 0 6rem 0 39rem;
  margin: 0 auto;
  @include lScreen() {
    padding: 0 6rem;
  }
  @include mScreen() {
    padding: 0 3rem;
  }
  @include sScreen() {
    padding: 0 2rem;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem;
  margin-bottom: 3rem;
  @include mScreen() {
    grid-template-columns: repeat(8, 1fr);
  }
  @include sScreen() {
    grid-template-columns: repeat(4, 1fr);
  }
}
.col-full {
  grid-column: span 12;
  @include mScreen() {
    grid-column: span 8;
  }
  @include sScreen() {
    grid-column: span 4;
  }
}
.col-half {
  grid-column: span 6;
  @include mScreen() {
    grid-column: span 4;
  }
  @include sScreen() {
    grid-column: span 4;
  }
}
.col-third {
  grid-column: span 4;
  @include mScreen() {
    grid-column: span 4;
  }
  @include sScreen() {
    grid-column: span 4;
  }
}
.col-quarter {
  grid-column: span 3;
  @include mScreen() {
    grid-column: span 4;
  }
  @include sScreen() {
    grid-column: span 4;
  }
}
