.whiteBg{
    background-color: white;
}
.lazy-wrapper{
    position: relative;
}
.lazy-wrapper svg, .lazy-wrapper img{
    position: absolute;
    top: 0;
    z-index: -1;
}
.dontLine{
    background-color: $red;
    width: 100%;
    height: 1rem;
    position: relative;
    margin-bottom: 1rem;
}
.dontTitle{
    color: $red;
}
h1{
    margin-left: -0.75rem;
}
h2{
    margin-left: -0.5rem;
}
.hoverImg{
    & > .hoverImg_hide{
        opacity: 1;
    transition: $fastMotion;
    }
    &:hover > .hoverImg_hide{
        opacity: 0;
    transition: $fastMotion;
    }
    & .hoverImg_reveal{
        z-index: -4;
    }
} 
.smallest{
    position: relative;
    & > img{
        position: absolute;
        left: 50%;
        top: 50% !important;
        transform: translate(-50% , -50%);
        z-index: 1  !important;
    }
}
.logoMotion{
    position: fixed;
    bottom: 6rem;
    width: 18rem;
    left: 5rem;
    @include xxlScreen{
        left: calc(((100% - 1440px) / 2) + 5rem);
    }
    @include lScreen{
        display: none;
    }
}

.colorBox{
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    position: relative;
    transition: $mediumMotion;
    overflow: hidden;
    &_info{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50% , -50%);
    }
    &_title{
        margin-right: 1rem;
        text-transform: uppercase;
        font-weight: 500;
    }
    &_dark{
        & P , & span{
            color: white;
            width: 100%;
        }
    }
    &_img{
        position: absolute;
        top: 0;
        opacity: 1;
        z-index: 1;
        transition: $mediumMotion;
        &:hover{
            opacity: 0;
            transition: $mediumMotion;
        }
    }
    &Hover{
        border-radius: 0;
        transition: $mediumMotion;
        &:hover{
            border-radius: 50%;
            transition: $mediumMotion;
        }
    }
}
.colorBox-thin{
    & .colorBox{
        height: 10rem;
        padding-top: unset;
        border-radius: unset;
        position: relative;
    }
}
.colorProportion{
    & div{
        padding:6rem 2rem;
        text-align: center;
    }
}
.calculator{
    background-color: white;
    &_figure{
        & img{
            z-index: 1;
        }
    }
    &_horizontal , &_vertical{
        display: none;
    }
    & label{
        display: block;
    }
    &_field{
        width: calc(50% - 1.25rem);
        display: inline-block;
    }
    & form{
        padding: 3rem;
    }
    & input[type=text]{
        width: 100%;
        appearance: none;
        border: 0;
        border-bottom: 1px solid grey;
        height: 4rem;
        padding: 1rem 0;
        background: none;
        line-height: 0;
        font-size: 2rem;
        transition: $fastMotion;
        &:focus{
            outline: none;
            border-bottom: 1px solid black;
            transition: $fastMotion;
        }
    }
    & span{
        float: right;
    }
    &_submit{
        margin-top: 3rem;
        appearance: none;
        border:0;
        width: 100%;
        height: 5rem;
        background-color: black;
        color: white;
        cursor: pointer;
        transition: $fastMotion;
        &:hover{
            background-color: grey;
            transition: $fastMotion;
        }
    }
    &_items{
        background-color: black;
        padding: 3rem;
        & p{
            color: white;
            padding: 1rem 0;
        }
        & h5{
            color: white;
            margin-bottom: 2rem;
        }
        & p:not(:last-child){
            border-bottom: 1px solid rgb(48, 48, 48);
        }
    }
    &_image{
        background-color: $mainColor;
        position: relative;
        & > .calculator_figure{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            @include sScreen(){
                position: relative;
            }
        }
    }
    &_info{
        position: absolute;
            bottom: 0;
            width: 100%;
            padding: 3rem;
    }
}
ul{
    list-style: none;
}
.bullet{
    list-style: disc;
    & li{
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
}
.audience{
    background-color: white;
    &_wrapper{
        padding: 2rem;
    }
    &_accordion{
        position: relative;
        z-index: 1;
    }
    &_img img{
        z-index: 1 !important;
    }
    & .accordion_icon{
        float: unset;
        position: absolute;
        top: 2rem;
    }
    & .accordion_item{
    }
    & .accordion_header{
        position: relative;
        & h6{
            font-weight: 500;
        }
    }
    &_title{
        display: grid;
        grid-template-columns: 3fr 5fr;
        @include sScreen() {
            display: unset;
          }
    }
    &_summery{
        position: relative;
        & ul{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 0 !important;
            @include sScreen() {
                position: unset;
                margin-top: 2rem;
              }
        }
        @include sScreen() {
            margin-top: 2rem;
          }
    }
}
ul li h5{
    margin-bottom: 2rem;
}
.perfectSize{
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: black;
    &-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -40%);
    }
    &-title{
        margin-top: 1rem;
    }
}
.tag{
    float: right;
    padding: .5rem 2rem;
    margin: .5rem 0 .5rem .5rem;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 3rem;
}