.sideBar{
  padding: 6rem;
  &_translate{
    float: none;
    display: block;
  }
  &_transtxt{

  }
  &_transSwitch{
      background-color: white;
      width: 3.5rem;
      height: 2rem;
      display: inline-block;
      margin-right: 1rem;
      cursor: pointer;
      transition: $fastMotion;
      &--active{
        transition: $fastMotion;
        background-color: $green;
      }
  }
  &_transPin{
      width: 1.25rem;
      height: 1.25rem;
      background-color: black;
      margin: 0.25rem 0.25rem 0.25rem 1.75rem ;
      transition: $fastMotion;
      border-radius: 50%;
      &--active{
          transition: $fastMotion;
          background-color: black;
          margin: 0.25rem 1.75rem 0.25rem 0.25rem ;
      }
  }
}
.index{

  &_title{
    text-transform: uppercase;
  }
}