/* table of content start*/
@import "color";
.toc {
  overflow-y: auto;
}
.toc > .toc-list {
  position: relative;
  height: 100%;
  overflow-y: auto;
}
.toc-list li {
  list-style: none;
  border-left: white 0.15rem solid;
  padding-left: 2rem;
}
.is-active-li {
  border-left: black 0.15rem solid !important;
  padding-left: 2rem;
}
.toc-list {
  margin-top: 1.5rem;
  text-decoration: none;
}

a.toc-link {
  color: black;
  height: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
  display: block;
  transition: $mediumMotion;
  text-decoration: none;

  &:hover {
    color: grey;
    transition: $mediumMotion;
  }
}
.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: $mediumMotion;
}
.is-collapsed {
  max-height: 0;
  transition: $mediumMotion;
}
.is-position-fixed {
  position: fixed;
  top: 10rem;
}

.is-active-link {
  color: black !important;
}

.is-active-link::before {
  content: "";
  display: inline-block;

  background-color: white;
  visibility: visible;
  margin: 0 0.5rem 0 0;
  top: -4px;
  position: relative;
  text-decoration: none;
}
.node-name--H1 {
  text-transform: uppercase;
  font-weight: 300;
}
.node-name--H2 {
  font-size: 1.75rem !important;
}
/* table of content end*/
