.toolBar {
  width: calc(1440px - 12rem);
  max-width: 1440px;
  position: fixed;
  top: 6rem;
  left: calc(((100% - 1440px) / 2) + 6rem);
  z-index: 10;
  @include xlScreen() {
    width: calc(100% - 12rem);
    left: 6rem;
  }
  @include mScreen() {
    width: calc(100% - 6rem);
    left: 3rem;
  }
  &_wrapper {
    display: grid;
    grid-template-columns: 31rem 9rem 7rem auto;
    grid-gap: 2rem;
    @include lScreen() {
      grid-template-columns: auto 9rem 7rem 7rem 25rem;
    }
    @include mScreen() {
      grid-template-columns: auto 9rem 3rem 3rem 25rem;
    }
  }
  &_logo {
    position: relative;
    z-index: 1000;
  }
  &_logoSvg {
    height: 7rem;
  }
  &_translate {
    align-self: center;
    @include lScreen() {
      float: left;
    }
  }
  &_logOut {
    align-self: center;
  }
  &_transtxt {
    display: inline-block;
    line-height: 2rem;
    position: relative;
    top: -1px;
  }
  &_transSwitch {
    background-color: white;
    width: 3.5rem;
    height: 2rem;
    display: inline-block;
    right: 50rem;
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 1rem;
    transition: $fastMotion;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      transition: $fastMotion;
    }
    &--active {
      transition: $fastMotion;
      background-color: $green;
      &:hover {
        background-color: lighten($green, 10%);
        transition: $fastMotion;
      }
    }
  }
  &_transPin {
    width: 1rem;
    height: 1rem;
    background-color: black;
    margin: 0.5rem 0.5rem 0.5rem 2rem;
    transition: $fastMotion;
    border-radius: 50%;
    &--active {
      transition: $fastMotion;
      background-color: black;
      margin: 0.5rem 1.5rem 0.5rem 0.5rem;
    }
  }
  /*
  &_searchBox {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    right: 39rem;
  }
  &_searchButton {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    right: 39rem;
  }
  */
  &_search {
    align-self: center;
    justify-self: right;
  }
}
