@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Thin.eot");
  src: local("Peyda-Thin"), local("Peyda-Thin"),
    url("platform/fonts/farsi/eot/Peyda-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Peyda-Thin.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Peyda-Thin.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Peyda-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Light.eot");
  src: local("Peyda-Light"), local("Peyda-Light"),
    url("platform/fonts/farsi/eot/Peyda-Light.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Peyda-Light.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Peyda-Light.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Peyda-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Regular.eot");
  src: local("Peyda-Regular"), local("Peyda-Regular"),
    url("platform/fonts/farsi/eot/Peyda-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Peyda-Regular.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Peyda-Regular.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Peyda-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Medium.eot");
  src: local("Peyda-Medium"), local("Peyda-Medium"),
    url("platform/fonts/farsi/eot/Peyda-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Peyda-Medium.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Peyda-Medium.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Peyda-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-SemiBold.eot");
  src: local("Peyda-SemiBold"), local("Peyda-SemiBold"),
    url("platform/fonts/farsi/eot/Peyda-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Peyda-SemiBold.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Peyda-SemiBold.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Peyda-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Bold.eot");
  src: local("Peyda-Bold"), local("Peyda-Bold"),
    url("platform/fonts/farsi/eot/Peyda-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Peyda-Bold.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Peyda-Bold.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Peyda-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

$enfont: "Poppins", sans-serif;
$fafont: "Peyda";

@mixin type($weight, $size, $spacing, $leading, $case) {
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $spacing;
  line-height: $leading;
  text-transform: $case;
}

%enType {
  font-family: $enfont;
}
%faType {
  font-family: $fafont !important;
  direction: rtl;
  text-align: right;
  text-transform: unset;
}

h1,
.h1 {
  @include type(400, 15rem, -1.5, 1, uppercase);
  @extend %enType;
}
h2,
.h2 {
  @include type(300, 7.5rem, -0.5, 1, capitalize);
  @extend %enType;
}
h3,
.h3 {
  @include type(400, 6rem, 0, auto, capitalize);
  @extend %enType;
}
h4,
.h4 {
  @include type(400, 4.25rem, 0.25, auto, capitalize);
  @extend %enType;
}
h5,
.h5 {
  @include type(400, 3rem, 0, auto, capitalize);
  @extend %enType;
}
h6,
.h6 {
  @include type(500, 2.5rem, 0.15, auto, capitalize);
  @extend %enType;
}
.subtitle1 {
  @include type(400, 2rem, 0.15, auto, capitalize);
  @extend %enType;
}
.subtitle2 {
  @include type(500, 1.75rem, 0.1, auto, capitalize);
  @extend %enType;
}
.body1 {
  @include type(400, 2rem, 0.5, 3rem, unset);
  @extend %enType;
}
.body2 {
  @include type(400, 1.75rem, 0.25, auto, unset);
  @extend %enType;
}
.button {
  @include type(500, 1.75rem, 1.25, auto, uppercase);
  @extend %enType;
}
.caption {
  @include type(400, 1.5rem, 0.4, auto, unset);
  @extend %enType;
}
.overline {
  @include type(300, 1.25rem, 1.5, auto, unset);
  @extend %enType;
}
a {
  @include type(400, 2rem, 0.5, auto, unset);
  @extend %enType;
  text-decoration: none;
  color: black;
  transition: $fastMotion;
  &:hover {
    color: grey;
    transition: $fastMotion;
  }
}
.fa {
  @extend %faType;
  display: none;
  &--show {
    display: block;
  }
}
