@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
}

body {
  background-color: lightgray;
}

img, svg {
  display: block;
}

main {
  width: 100%;
}

article {
  width: 100%;
  padding-top: 19.5rem;
}

.sSpace {
  margin-bottom: 1rem !important;
}

.mSpace {
  margin-bottom: 3rem !important;
}

.lSpace {
  margin-bottom: 8rem !important;
}

.boxed {
  max-width: 1440px;
  padding: 0 6rem 0 39rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .boxed {
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .boxed {
    padding: 0 3rem;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  .row {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}

.col-full {
  grid-column: span 12;
}

@media only screen and (max-width: 768px) {
  .col-full {
    grid-column: span 8;
  }
}

@media only screen and (max-width: 500px) {
  .col-full {
    grid-column: span 4;
  }
}

.col-half {
  grid-column: span 6;
}

@media only screen and (max-width: 768px) {
  .col-half {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 500px) {
  .col-half {
    grid-column: span 4;
  }
}

.col-third {
  grid-column: span 4;
}

@media only screen and (max-width: 768px) {
  .col-third {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 500px) {
  .col-third {
    grid-column: span 4;
  }
}

.col-quarter {
  grid-column: span 3;
}

@media only screen and (max-width: 768px) {
  .col-quarter {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 500px) {
  .col-quarter {
    grid-column: span 4;
  }
}

@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Thin.eot");
  src: local("Peyda-Thin"), local("Peyda-Thin"), url("platform/fonts/farsi/eot/Peyda-Thin.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Peyda-Thin.woff2") format("woff2"), url("platform/fonts/farsi/woff/Peyda-Thin.woff") format("woff"), url("platform/fonts/farsi/ttf/Peyda-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Light.eot");
  src: local("Peyda-Light"), local("Peyda-Light"), url("platform/fonts/farsi/eot/Peyda-Light.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Peyda-Light.woff2") format("woff2"), url("platform/fonts/farsi/woff/Peyda-Light.woff") format("woff"), url("platform/fonts/farsi/ttf/Peyda-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Regular.eot");
  src: local("Peyda-Regular"), local("Peyda-Regular"), url("platform/fonts/farsi/eot/Peyda-Regular.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Peyda-Regular.woff2") format("woff2"), url("platform/fonts/farsi/woff/Peyda-Regular.woff") format("woff"), url("platform/fonts/farsi/ttf/Peyda-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Medium.eot");
  src: local("Peyda-Medium"), local("Peyda-Medium"), url("platform/fonts/farsi/eot/Peyda-Medium.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Peyda-Medium.woff2") format("woff2"), url("platform/fonts/farsi/woff/Peyda-Medium.woff") format("woff"), url("platform/fonts/farsi/ttf/Peyda-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-SemiBold.eot");
  src: local("Peyda-SemiBold"), local("Peyda-SemiBold"), url("platform/fonts/farsi/eot/Peyda-SemiBold.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Peyda-SemiBold.woff2") format("woff2"), url("platform/fonts/farsi/woff/Peyda-SemiBold.woff") format("woff"), url("platform/fonts/farsi/ttf/Peyda-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("platform/fonts/farsi/eot/Peyda-Bold.eot");
  src: local("Peyda-Bold"), local("Peyda-Bold"), url("platform/fonts/farsi/eot/Peyda-Bold.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Peyda-Bold.woff2") format("woff2"), url("platform/fonts/farsi/woff/Peyda-Bold.woff") format("woff"), url("platform/fonts/farsi/ttf/Peyda-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6, .subtitle1, .subtitle2, .body1, .body2, .button, .caption, .overline, a {
  font-family: "Poppins", sans-serif;
}

.fa {
  font-family: "Peyda" !important;
  direction: rtl;
  text-align: right;
  text-transform: unset;
}

h1,
.h1 {
  font-weight: 400;
  font-size: 15rem;
  letter-spacing: -1.5;
  line-height: 1;
  text-transform: uppercase;
}

h2,
.h2 {
  font-weight: 300;
  font-size: 7.5rem;
  letter-spacing: -0.5;
  line-height: 1;
  text-transform: capitalize;
}

h3,
.h3 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 0;
  line-height: auto;
  text-transform: capitalize;
}

h4,
.h4 {
  font-weight: 400;
  font-size: 4.25rem;
  letter-spacing: 0.25;
  line-height: auto;
  text-transform: capitalize;
}

h5,
.h5 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0;
  line-height: auto;
  text-transform: capitalize;
}

h6,
.h6 {
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.15;
  line-height: auto;
  text-transform: capitalize;
}

.subtitle1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.15;
  line-height: auto;
  text-transform: capitalize;
}

.subtitle2 {
  font-weight: 500;
  font-size: 1.75rem;
  letter-spacing: 0.1;
  line-height: auto;
  text-transform: capitalize;
}

.body1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.5;
  line-height: 3rem;
  text-transform: unset;
}

.body2 {
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 0.25;
  line-height: auto;
  text-transform: unset;
}

.button {
  font-weight: 500;
  font-size: 1.75rem;
  letter-spacing: 1.25;
  line-height: auto;
  text-transform: uppercase;
}

.caption {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.4;
  line-height: auto;
  text-transform: unset;
}

.overline {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 1.5;
  line-height: auto;
  text-transform: unset;
}

a {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.5;
  line-height: auto;
  text-transform: unset;
  text-decoration: none;
  color: black;
  transition: 0.2s all ease;
}

a:hover {
  color: grey;
  transition: 0.2s all ease;
}

.fa {
  display: none;
}

.fa--show {
  display: block;
}

.header {
  position: relative;
  z-index: 200;
}

.header_close--open {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.header_hamIco {
  width: 8rem;
  height: 8rem;
  position: fixed;
  bottom: 6rem;
  left: 6rem;
  border-radius: 4rem;
  transition: 0.5s all ease;
  cursor: pointer;
}

@media only screen and (min-width: 1440px) {
  .header_hamIco {
    left: calc(((100% - 1440px) / 2) + 6rem);
  }
}

@media only screen and (max-width: 768px) {
  .header_hamIco {
    bottom: 3rem;
    left: 3rem;
  }
}

.header_hamIco::after {
  content: "";
  width: 0rem;
  height: 0rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4rem;
  transform: translate(-50%, -50%);
  background: white;
  transition: 0.5s all ease;
}

.header_hamIco:hover::after {
  content: "";
  width: 8rem;
  height: 8rem;
  background: white;
  transition: 0.2s all ease;
}

.header_hamIco--open::after {
  content: "";
  width: 8rem;
  height: 8rem;
  transition: 0.2s all ease;
}

.header_line {
  width: 4rem;
  height: 0.125rem;
  background-color: black;
  top: 6rem;
  left: 4rem;
  position: absolute;
  transform: translate(-2rem, -2rem);
  z-index: 2;
}

.header_line::before {
  content: "";
  width: 4rem;
  height: 0.125rem;
  background-color: black;
  position: absolute;
  top: -1.25rem;
  transition: 0.5s all ease;
}

.header_line::after {
  content: "";
  width: 4rem;
  height: 0.125rem;
  background-color: black;
  position: absolute;
  top: 1.25rem;
  transition: 0.5s all ease;
}

.header_line--open::before {
  top: 0rem;
  transition: 0.5s all ease;
}

.header_line--open::after {
  top: 0rem;
  transition: 0.5s all ease;
}

.header_copyRight {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 6rem;
  padding-right: 4rem;
  opacity: 0;
  transition: 0.2s all ease;
}

.header_copyRight a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .header_copyRight {
    bottom: 4.5rem;
  }
}

.header_accordion {
  width: 100%;
  opacity: 0;
  transition: 0.2s all ease;
}

.header_popup {
  width: 8rem;
  height: 8rem;
  background-color: #8fe0448e;
  position: fixed;
  bottom: 6rem;
  left: 6rem;
  transform-origin: bottom center;
  border-radius: 6rem;
  transition: 0.5s all ease;
  overflow: hidden;
  backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@media only screen and (min-width: 1440px) {
  .header_popup {
    left: calc(((100% - 1440px) / 2) + 6rem);
  }
}

@media only screen and (max-width: 768px) {
  .header_popup {
    bottom: 3rem;
    left: 3rem;
  }
}

.header_popup--open {
  width: 60rem;
  height: calc(100vh - 6rem);
  bottom: 3rem;
  left: 3rem;
  border-radius: 0rem;
  transition: 0.5s all ease;
}

@media only screen and (min-width: 1440px) {
  .header_popup--open {
    left: calc(((100% - 1440px) / 2) + 3rem);
  }
}

@media only screen and (max-width: 768px) {
  .header_popup--open {
    width: calc(100% - 6rem);
  }
}

@media only screen and (max-width: 768px) {
  .header_popup--open {
    width: 100%;
    height: 100vh;
    bottom: 0rem;
    left: 0rem;
  }
}

.header_popup--open .header_accordion,
.header_popup--open .header_copyRight {
  opacity: 1;
  transition: 0.8s all ease;
  transition-delay: 0.4s;
}

.header_menu {
  padding: 0rem 3rem 0 3rem;
  position: fixed;
  top: 15rem;
  width: 100%;
}

.header_accordion h6 {
  font-weight: 300;
}

.header_item {
  list-style: none;
}

.header_item {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.header_item a {
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.2s all ease;
}

.header_item a:hover {
  color: black;
  transition: 0.2s all ease;
}

.footer {
  width: 100%;
  height: 30rem;
}

.index {
  margin: 21rem 0;
  display: inline-block;
  text-align: left;
  width: 25rem;
  position: fixed;
  left: calc(((100% - 1440px) / 2) + 6rem);
  z-index: 10;
  top: 0;
}

@media only screen and (max-width: 1440px) {
  .index {
    left: 6rem;
  }
}

@media only screen and (max-width: 1024px) {
  .index {
    left: unset;
    right: 6rem;
    margin-top: 6.5rem;
    margin-left: 0;
    min-width: 25rem;
    overflow: hidden;
    background-color: #ffffff5b;
    border-radius: 3rem;
    backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

@media only screen and (max-width: 768px) {
  .index {
    left: unset;
    right: 3rem;
    margin-top: 6.5rem;
    margin-left: 0;
  }
}

.index_fixTitle {
  display: block;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .index_fixTitle {
    display: none;
  }
}

.index_dynamicTitle {
  display: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .index_dynamicTitle {
    display: block;
    padding: 2rem;
    line-height: 2rem;
    cursor: pointer;
  }
  .index_dynamicTitle::after {
    content: url(platform/icons/down.svg);
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2rem;
    transition: 0.5s all ease;
  }
  .index_dynamicTitle--open::after {
    transform: rotate(180deg);
    transition: 0.5s all ease;
  }
}

.index_nav {
  transition: 0.5s all ease;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .index_nav {
    max-height: 0;
  }
}

.index_nav--open {
  max-height: 100vh;
  transition: 0.5s all ease;
}

.toc > .toc-list {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.toc-list li {
  list-style: none;
  border-left: white 0.25rem solid;
  padding-left: 2rem;
}

@media only screen and (max-width: 1024px) {
  .toc-list li {
    border-left: unset;
  }
}

.is-active-li {
  border-left: black 0.25rem solid !important;
  padding-left: 2rem;
}

.toc-list {
  margin: 1.5rem 0 3rem 0;
  text-decoration: none;
}

a.toc-link {
  color: rgba(0, 0, 0, 0.7);
  height: 100%;
  font-size: 2rem;
  display: block;
  transition: 0.5s all ease;
  text-decoration: none;
  padding: 1rem 0;
  text-transform: capitalize;
}

a.toc-link:hover {
  color: black;
  transition: 0.5s all ease;
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: 0.5s all ease;
}

.is-collapsed {
  max-height: 0;
  transition: 0.5s all ease;
}

.is-position-fixed {
  position: fixed;
  top: 10rem;
}

.is-active-link {
  color: black !important;
}

.node-name--H1 {
  text-transform: uppercase;
  font-weight: 300;
}

.node-name--H2 {
  font-size: 1.75rem !important;
}

/* table of content end*/
.accordion_list {
  list-style: none;
  width: 100%;
}

.accordion_header {
  cursor: pointer;
  padding: 2rem 0;
}

.accordion_header h6 {
  display: inline-block;
}

.accordion_body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s all ease;
}

.accordion_body--active {
  max-height: unset;
  opacity: 1;
  padding: 1rem 0rem;
  transition: 0.2s all ease;
}

.accordion_icon {
  width: 3rem;
  height: 3rem;
  float: right;
  position: relative;
}

.accordion_lineI {
  height: 0.125rem;
  width: 2.125rem;
  background-color: black;
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
}

.accordion_lineII {
  height: 2.125rem;
  width: 0.125rem;
  background-color: black;
  position: absolute;
  left: 1.5rem;
  top: 0.5rem;
  transition: .3s all ease;
}

.accordion_lineII--open {
  height: 0px !important;
  transition: .3s all ease;
}

.imgComparison img {
  display: block;
}

.imgComparison {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 6rem;
}

.imgComparison__wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}

.imgComparison__resizableFrame {
  width: 0%;
  height: 100%;
  position: absolute;
  display: inline-block;
  top: 0;
  overflow-x: hidden;
}

.imgComparison__fixedFrame {
  position: relative;
  width: 100%;
}

.imgComparison__silder {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: gray;
  outline: none;
  margin: 6rem 0 6rem 0;
}

.imgComparison__silder::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s all ease;
}

.imgComparison__silder::-webkit-slider-thumb:hover {
  background: #8FE044;
  transition: .3s all ease;
}

.imgComparison__silder::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 8px;
  border: 1px solid #8FE044;
  background: white;
  cursor: pointer;
}

.whiteBg {
  background-color: white;
}

.lazy-wrapper {
  position: relative;
}

.lazy-wrapper svg, .lazy-wrapper img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.dontLine {
  background-color: #ea5149;
  width: 100%;
  height: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.dontTitle {
  color: #ea5149;
}

h1 {
  margin-left: -0.75rem;
}

h2 {
  margin-left: -0.5rem;
}

.toolBar {
  width: calc(1440px - 12rem);
  max-width: 1440px;
  position: fixed;
  top: 6rem;
  left: calc(((100% - 1440px) / 2) + 6rem);
  z-index: 10;
  /*
  &_searchBox {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    right: 39rem;
  }
  &_searchButton {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    right: 39rem;
  }
  */
}

@media only screen and (max-width: 1440px) {
  .toolBar {
    width: calc(100% - 12rem);
    left: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .toolBar {
    width: calc(100% - 6rem);
    left: 3rem;
  }
}

.toolBar_wrapper {
  display: grid;
  grid-template-columns: 31rem 9rem 7rem auto;
  grid-gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  .toolBar_wrapper {
    grid-template-columns: auto 9rem 7rem 7rem 25rem;
  }
}

@media only screen and (max-width: 768px) {
  .toolBar_wrapper {
    grid-template-columns: auto 9rem 3rem 3rem 25rem;
  }
}

.toolBar_logo {
  position: relative;
  z-index: 1000;
}

.toolBar_logoSvg {
  height: 7rem;
}

.toolBar_translate {
  align-self: center;
}

@media only screen and (max-width: 1024px) {
  .toolBar_translate {
    float: left;
  }
}

.toolBar_logOut {
  align-self: center;
}

.toolBar_transtxt {
  display: inline-block;
  line-height: 2rem;
  position: relative;
  top: -1px;
}

.toolBar_transSwitch {
  background-color: white;
  width: 3.5rem;
  height: 2rem;
  display: inline-block;
  right: 50rem;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 1rem;
  transition: 0.2s all ease;
}

.toolBar_transSwitch:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s all ease;
}

.toolBar_transSwitch--active {
  transition: 0.2s all ease;
  background-color: #8FE044;
}

.toolBar_transSwitch--active:hover {
  background-color: #a9e770;
  transition: 0.2s all ease;
}

.toolBar_transPin {
  width: 1rem;
  height: 1rem;
  background-color: black;
  margin: 0.5rem 0.5rem 0.5rem 2rem;
  transition: 0.2s all ease;
  border-radius: 50%;
}

.toolBar_transPin--active {
  transition: 0.2s all ease;
  background-color: black;
  margin: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.toolBar_search {
  align-self: center;
  justify-self: right;
}
